@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, sans-serif;
	color: black;
	background-color: white;
}
@layer components {
	h1 {
		font-weight: 500;
		@apply sm:text-5xl text-4xl;
	}
	h2 {
		font-weight: 400;
		@apply sm:text-4xl text-3xl;
	}
	h3 {
		font-weight: 400;
		@apply sm:text-3xl text-2xl;
	}
	h4 {
		font-weight: 400;
		@apply sm:text-2xl text-xl;
	}
	label {
		color: rgb(55 65 81);
		@apply block;
	}

	td {
		@apply text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap;
	}
	th {
		@apply text-sm font-medium text-gray-900 px-6 py-4 text-left select-none;
	}
	.primary-btn {
		@apply bg-blue-500 hover:bg-blue-700 rounded text-white px-4 py-2;
	}
	.form-error {
		@apply text-red-500 text-xs italic;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
}
